In [11]:
import pandas

In [32]:
transcriptome = pandas.read_csv("Data/saccharomyces_cerevisiae.tsv", sep="\t")
proteome = transcriptome.loc[transcriptome["GENE.type"] == "protein-coding"]
protein_properties = pandas.read_csv("Data/protein_properties.tsv", sep="\t").drop(columns=["Gene.proteins.secondaryIdentifier"])
abundance = pandas.read_csv("Data/abundance.tsv", sep="\t")

In [33]:
informations = proteome.merge(protein_properties,how="left", on="SYSTEMATIC.name").merge(abundance.drop(columns=["SYMBOL"]), on="SYSTEMATIC.name")
informations

,NCBI.accession,CHROMOSOME.begin,CHROMOSOME.end,CHROMOSOME.value,CHROMOSOME.orientation,GENE.name,SYMBOL,GENE.id,GENE.type,NCBI.transcripts_accession,...,PROTEINS.molecular_weight,PROTEINS.pI,PROTEINS.gravy_score,PROTEINS.aromaticity_score,PROTEINS.cai,PROTEINS.instability_index,PROTEINS.aliphatic_index,SGD.id,ABUNDANCE.value,ABUNDANCE.units
0,NC_001133.9,1807,2169,I,minus,seripauperin PAU8,PAU8,851229,protein-coding,NM_001180043.1,...,12846.7,4.96,0.25,0.09,0.63,19.78,90.09,S000002142,NaN,NaN
1,NC_001133.9,2480,2707,I,plus,uncharacterized protein,NaN,1466426,protein-coding,NM_001184582.1,...,8768.8,10.52,0.23,0.12,0.07,62.86,102.53,S000028593,NaN,NaN
2,NC_001133.9,7235,9016,I,minus,putative permease SEO1,SEO1,851230,protein-coding,NM_001178208.1,...,68845.6,8.15,-0.06,0.16,0.18,35.51,86.24,S000000062,1021.0,molecules/cell
3,NC_001133.9,11565,11951,I,minus,uncharacterized protein,NaN,851232,protein-coding,NM_001179897.1,...,12916.3,4.86,0.13,0.03,0.11,21.77,86.95,S000001817,NaN,molecules/cell
4,NC_001133.9,12046,12426,I,plus,uncharacterized protein,NaN,851233,protein-coding,NM_001180042.1,...,13256.3,3.92,0.97,0.03,0.07,28.09,123.47,S000002141,1219.0,molecules/cell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6009,NC_001224.1,48901,50097,MT,plus,mitochondrial 37S ribosomal protein VAR1,VAR1,854586,protein-coding,NaN,...,47155.2,10.39,-0.79,0.09,0.09,41.68,81.18,S000007275,3940.0,molecules/cell
6010,NC_001224.1,61022,61729,MT,plus,intron-encoded endonuclease I-SceI,SCEI,854590,protein-coding,NaN,...,27693.6,9.71,-0.38,0.13,0.14,42.26,83.33,S000007279,NaN,NaN
6011,NC_001224.1,73758,74513,MT,plus,cytochrome c oxidase subunit 2,COX2,854622,protein-coding,NaN,...,28550.2,4.20,0.35,0.12,0.19,36.99,107.88,S000007281,4586.0,molecules/cell
6012,NC_001224.1,74495,75984,MT,plus,maturase-like protein,NaN,854623,protein-coding,NaN,...,56445.4,10.08,-0.51,0.14,0.12,41.08,81.51,S000007282,NaN,NaN
6013,NC_001224.1,79213,80022,MT,plus,cytochrome c oxidase subunit 3,COX3,854627,protein-coding,NaN,...,30356.9,7.08,0.69,0.15,0.16,31.89,107.33,S000007283,NaN,NaN

In [41]:
physical_interactions = pandas.read_csv("Data/physical_interactions.tsv", sep="\t")
physical_interactions = physical_interactions[physical_interactions["SYSTEMATIC.name_p1"].isin(informations["SYSTEMATIC.name"]) & physical_interactions["SYSTEMATIC.name_p2"].isin(informations["SYSTEMATIC.name"])]
physical_interactions

      SYSTEMATIC.name_p1 SYSTEMATIC.name_p2
76               YCL069W            YCR075C
77               YCL069W            YIL004C
78               YCL067C            YCR084C
79               YCL067C            YCR097W
80               YCL067C            YBR112C
...                  ...                ...
82729          YPR159C-A            YDR479C
82730          YPR159C-A            YIR033W
82731          YPR159C-A            YIR038C
82732          YPR159C-A            YPL094C
82733          YKR095W-A            YJL184W

[81941 rows x 2 columns]

In [43]:
phenotypes = pandas.read_csv("Data/phenotypes.tsv", sep="\t")
phenotypes = phenotypes[phenotypes["SYSTEMATIC.name"].isin(informations["SYSTEMATIC.name"])]
phenotypes

,SGD.id,SYSTEMATIC.name,SYMBOL,MUTANT.type,PHENOTYPE.name,PHENOTYPE.qualifier
0,S000000001,YAL001C,TFC3,conditional,protein/peptide distribution,abnormal
1,S000000001,YAL001C,TFC3,conditional,protein/peptide distribution,abnormal
2,S000000001,YAL001C,TFC3,conditional,resistance to chemicals,decreased
3,S000000001,YAL001C,TFC3,conditional,resistance to chemicals,increased
4,S000000001,YAL001C,TFC3,conditional,resistance to chemicals,increased
...,...,...,...,...,...,...
194917,S000113613,YDR014W-A,HED1,NaN,protein/peptide accumulation,abnormal
194951,S000303806,YGR227C-A,OTO1,NaN,viable,NaN
194952,S000303806,YGR227C-A,OTO1,overexpression,inviable,NaN
194953,S000303806,YGR227C-A,OTO1,overexpression,vegetative growth,decreased rate
194954,S000303806,YGR227C-A,OTO1,reduction of function,viable,NaN

In [44]:
domains = pandas.read_csv("Data/domains.tsv", sep="\t")
domains = domains[domains["SYSTEMATIC.name"].isin(informations["SYSTEMATIC.name"])]
domains

,SYSTEMATIC.name,SYMBOL,DOMAIN.id,DOMAIN.name,DOMAIN.start,DOMAIN.end
0,YMR056C,AAC1,2136157,Mitochondrial carrier domain superfamily,14,309
1,YMR056C,AAC1,2138932,Mitochondrial substrate/solute carrier,10,106
2,YMR056C,AAC1,2138933,Mitochondrial substrate/solute carrier,116,210
3,YMR056C,AAC1,2138934,Mitochondrial substrate/solute carrier,217,304
4,YMR056C,AAC1,2138935,Mitochondrial carrier protein,16,29
...,...,...,...,...,...,...
48854,YPR204W,NaN,2161180,"Helicase, C-terminal",232,381
48855,YPR204W,NaN,2161181,"Helicase, C-terminal",257,337
48856,YPR204W,NaN,2174646,YML133C-like protein,1,174
48857,YPR204W,NaN,2174647,HELICASE WITH DEATH DOMAIN-RELATED,7,1030
48858,YPR204W,NaN,2174648,YML133C-like protein,175,354

In [45]:
structures = pandas.read_csv("Data/structures.tsv", sep="\t")
structures = structures[structures["SYSTEMATIC.name"].isin(informations["SYSTEMATIC.name"])]
structures

      SYSTEMATIC.name STRUCTURE.type  STRUCTURE.begin  STRUCTURE.end
0               Q0045          HELIX                2              5
1               Q0045          HELIX               11             39
2               Q0045         STRAND               41             44
3               Q0045         STRAND               46             48
4               Q0045          HELIX               52             67
...               ...            ...              ...            ...
48003         YPR193C          HELIX              104            118
48004         YPR193C         STRAND              124            129
48005         YPR193C          HELIX              133            142
48006         YPR193C         STRAND              143            145
48007         YPR193C         STRAND              147            153

[48008 rows x 4 columns]

In [46]:
pathways = pandas.read_csv("Data/pathways.tsv", sep="\t")
pathways = pathways[pathways["SYSTEMATIC.name"].isin(informations["SYSTEMATIC.name"])]
pathways

                        PATHWAY.name SYSTEMATIC.name
0     2-Oxocarboxylic acid metabolis         YLL039C
1     2-Oxocarboxylic acid metabolis         YIL148W
2     2-Oxocarboxylic acid metabolis         YKR094C
3     2-Oxocarboxylic acid metabolis         YLR167W
4     2-Oxocarboxylic acid metabolis         YKL210W
...                              ...             ...
4089           Vitamin B6 metabolism         YFL059W
4090           Vitamin B6 metabolism         YNL333W
4091           Vitamin B6 metabolism         YMR095C
4092           Vitamin B6 metabolism         YFL060C
4093           Vitamin B6 metabolism         YNL334C

[3765 rows x 2 columns]

In [47]:
gene_ontology = pandas.read_csv("Data/gene_ontology.tsv", sep="\t")
gene_ontology = gene_ontology[gene_ontology["SYSTEMATIC.name"].isin(informations["SYSTEMATIC.name"])]
gene_ontology

,SYSTEMATIC.name,GO.id,GO.term
0,Q0045,GO:0031966,C:mitochondrial membrane
1,Q0045,GO:0005751,C:mitochondrial respiratory chain complex IV
2,Q0045,GO:0005739,C:mitochondrion
3,Q0045,GO:0004129,F:cytochrome-c oxidase activity
4,Q0045,GO:0020037,F:heme binding
...,...,...,...
48946,YPR204W,GO:0005524,F:ATP binding
48947,YPR204W,GO:0016887,F:ATP hydrolysis activity
48948,YPR204W,GO:0003678,F:DNA helicase activity
48949,YPR204W,GO:0003676,F:nucleic acid binding
48950,YPR204W,GO:0032508,P:DNA duplex unwinding

In [ ]:
#dataframe sequence